*
{
    box-sizing: border-box;
}

#assets
{
    display: none;
}

#tetris
{
    border: #000 solid 1px;
    color: #000;
    height: 600px;
    margin: 20px auto;
    text-align: center;
    width: 600px;
}

#game
{
    display: flex;
    flex-flow: row;
    padding: 0 20px;
    text-align: center;
}

#scoreboard
{
    width: 100%;
}

#instructions
{
    padding: 30px 10px;

}

#gamearena
{
    border: #000 solid 1px;
}

